.ProHead {
  padding: 6rem 0 0;
}
.ProImg1 {
  margin: auto;
  position: relative;
}
.ProImg1 img {
  margin: auto;
  width: 15rem;
  height: 15rem;
  border: 3px solid #000;
  border-radius: 50%;
}
.ProData {
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 1.5rem;
}
.ProData span {
  line-height: 1rem;
  font-size: 24px;
  font-weight: 500;
}
.editPro {
  /* font-size: 25px;
  left: 54%;
  bottom: 15px;
  padding: 0 8px; */
  /* background-color: rgba(5, 16, 172, 0.833); */
  /* border: 1px solid #000; */
  /* color: #fff;
  border-radius: 50%;
  position: absolute; */
}
.EdiProData {
  font-weight: 500;
  color: #fff;
  background-color: blue;
  padding: 1px 8px;
}
.Post-line {
  width: 150px;
}
.DeleteP,
.EditPost {
  color: #fff;
  border-radius: 5px;
  padding: 2px 8px;
}
.Delcolor {
  background-color: rgb(145, 14, 25);
}
.Editcolor {
  background-color: rgb(14, 21, 145);
}
.Probuttom {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 2rem;
}
.DeleteS {
  color: #fff;
  border-radius: 5px;
  padding: 1px 5px;
}
.ProAbout {
  border: 1px solid #000;
  padding: 20px;
  margin-bottom: 2rem;
}
.About {
  padding: 20px;
}
.About h3 {
  text-align: center;
  margin: auto;
}
.ProAData {
  text-align: center;
  margin-top: 10px;
}
.About-line {
  margin: auto;
  width: 170px;
}

/* editprofile css */

.editboder {
  /* border: 1px solid rgb(171, 169, 169); */
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-bottom: 1px solid rgb(171, 169, 169);
  border-top: 1px solid rgb(171, 169, 169);
  border-right: 1px solid rgb(171, 169, 169);
}

.editprofile {
  margin-top: 5rem;
}
.App {
  overflow: hidden;
}
.userimgdiv {
  margin-top: 3rem;
  margin-left: 25%;
  width: 10rem;
  height: 10rem;
  position: relative;
}
.userimgdiv i {
  position: absolute;
  margin-left: 8.5rem;
  top: 8.2rem;
  color: rgb(24, 31, 106);
}
.userimage {
  width: 100%;
  border-radius: 50%;
  border: 3px solid black;
}
.userimgname {
  display: flex;
  gap: 2rem;
}

.usernameadd {
  margin-top: 7rem;
}
.usernameadd h7 {
  color: gray;
}

.namebox .inputboxs {
  border: 1px solid rgb(227, 223, 223);
  padding: 5px 20px 5px 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.editTitle {
  padding: 3rem;
  text-align: center;
}
.editform {
  margin-top: 5rem;
}
.infoform {
  display: flex;
  gap: 10rem;
  /* margin-left: 30%; */
}
.editbutton {
  padding: 10px 40px 10px 40px;
  background-color: rgba(97, 157, 240, 0.895);
  border-radius: 10px;
}

.editbuttondiv {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.editsettitle {
  color: #15568e;
  padding-top: 2rem;
}
.namebox .addresstexta {
  border: 1px solid rgb(227, 223, 223);
  padding-right: 2.6rem;
  padding-top: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* .editformuser{
  background-image: url(../../../public/images/all/usereditbg.jpg) ;
  background-size: cover;
  background-position: center;
} */

.formInput {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 280px;
}
.formInput input {
  border: 1px solid gray;
  padding: 15px 30px;
  background-color: transparent;
  border-radius: 5px;
}

.smallinput {
  background-color: transparent;
}
.formInput ::placeholder {
  color: #000;
}
.formInput span {
  padding: 3px;
  color: red;
  display: none;
}
input:invalid[focused="true"] ~ span {
  display: block;
}
input:invalid[focused="true"] {
  border: 1px solid red;
}
